@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {

    margin: 0%;
    box-sizing: border-box;

}



.textocabecalho {
    display: inline;

    ;
}

#Logo {
    position: absolute;
    width: 122px;
    height: 42px;
    left: 122px;
    top: 11px;

}

#home {

    position: absolute;
    width: 47px;
    height: 18px;
    left: 390px;
    top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #007191;
    list-style: none;
    padding-right: 70px;
}

#hobby {
    position: absolute;
    width: 66px;
    height: 18px;
    left: 501px;
    top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #007191;
    list-style: none;
}

#Acervo {

    position: absolute;
    width: 53px;
    height: 18px;
    left: 631px;
    top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    list-style: none;
    color: #007191;
}

#Contato {

    position: absolute;
    width: 61px;
    height: 18px;
    left: 752px;
    top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #007191;
    list-style: none;
}

nav {
    display: inline;
    align-items: center;
    font-family: 'Montserrat';
}

#botao-entrar {
    position: absolute;
    width: 130px;
    height: 40px;
    right: 250px;
    top: 10px;
    color: #007191;
    border: 1px solid #0097C1;
    border-radius: 8px;

}

#botao-cadastrar {
    position: absolute;
    width: 130px;
    height: 40px;
    top: 10px;
    right: 90px;
    background-color: #007191;
    color: white;
    border: 1px solid #0097C1;
    border-radius: 8px;
}

#foto-de-fundo {
    position: absolute;
    width: 1440px;
    height: 960px;
    left: 0px;
    top: 60px;

    background: rgba(0, 0, 0, 0.3);

}

#titulo-do-meio {
    position: absolute;
    width: 769px;
    height: 68px;
    left: 405px;
    top: 572px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    color: #FFFFFF;
}

#botao-do-meio {
    position: absolute;
    width: 431px;
    height: 40px;
    left: 509px;
    top: 739px;
    
    background: #0086AB;
    border-radius: 8px;
    border: 0;
}

#titulo-do-botao {
    width: 415px;
    height: 18px;
    left: 848px;
    top: 750px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 18px;
    color: #FFFFFF;
    align-items: center;

}

#titulo2 {
    position: absolute;
    width: 588px;
    height: 159px;
    left: 122px;
    top: 1150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;

}

#titulo-noticia {
    position: absolute;
    width: 203px;
    height: 29px;
    left: 122px;
    top: 1342px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

#subtitulo {
    position: absolute;
    width: 466px;
    height: 55px;
    left: 122px;
    top: 1387px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#leiamais {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 122px;
    top: 1457px;
    background: #B8B8B8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #000000;
    border: 0;
}



#titulo-noticia2 {
    position: absolute;
    width: 203px;
    height: 29px;
    left: 121px;
    top: 1569px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

#subtitulo2 {
    position: absolute;
    width: 466px;
    height: 55px;
    left: 121px;
    top: 1614px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

}

#leiamais2 {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 121px;
    top: 1684px;
    background: #B8B8B8;
    border-radius: 8px;
    border: 0;
}

#titulo-noticia3 {
    position: absolute;
    width: 203px;
    height: 29px;
    left: 852px;
    top: 1342px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

#subtitulo3 {
    position: absolute;
    width: 467px;
    height: 55px;
    left: 852px;
    top: 1387px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

}

#leiamais3 {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 852px;
    top: 1457px;
    background: #B8B8B8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #000000;
    border: 0;
}

#titulo-noticia4 {
    position: absolute;
    width: 203px;
    height: 29px;
    left: 851px;
    top: 1569px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

#subtitulo4 {
    position: absolute;
    width: 467px;
    height: 55px;
    left: 851px;
    top: 1614px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

}

#leiamais4 {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 851px;
    top: 1684px;
    background: #B8B8B8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #000000;
    border: 0;
}

#imagem-tabuleiro {
    position: absolute;
    width: 588px;
    height: 300px;
    left: 122px;
    top: 1875px;

}

#titulo-noticia5 {
    position: absolute;
    width: 203px;
    height: 29px;
    left: 730px;
    top: 1960px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

#subtitulo5 {
    position: absolute;
    width: 571px;
    height: 85px;
    left: 730px;
    top: 2005px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #000000;
}

#azul {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 2325px;
    background: #131B48;
}

#tabuleiro2 {
    position: absolute;
    width: 588px;
    height: 300px;
    left: 730px;
    top: 2475px;
}

#titulo-noticia6 {
    position: absolute;
    width: 203px;
    height: 29px;
    left: 122px;
    top: 2560px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

}

#titulo-noticia7 {
    position: absolute;
    width: 203px;
    height: 29px;
    left: 122px;
    top: 2560px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF
}

#subtitulo7 {
    position: absolute;
    width: 571px;
    height: 85px;
    left: 122px;
    top: 2605px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #FFFFFF;

}

#linhapreta {
    position: absolute;
    width: 1196px;
    height: 0px;
    left: 122px;
    top: 3333px;
    border: 1px solid #000000;
}

#logo-rodape {
    position: absolute;
    width: 122px;
    height: 42px;
    left: 122px;
    top: 3361px;
}

#home-r {
    position: absolute;
    width: 47px;
    height: 18px;
    left: 902px;
    top: 3371px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    list-style: none;

}

#hobby-r {
    position: absolute;
    width: 66px;
    height: 18px;
    left: 1009px;
    top: 3371px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    list-style: none;
  
}

#Acervo-r {
    position: absolute;
    width: 53px;
    height: 18px;
    left: 1144px;
    top: 3370px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    list-style: none;
 
}

#Contato-r {
    position: absolute;
    width: 61px;
    height: 18px;
    left: 1257px;
    top: 3366px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    list-style: none;
 
}